<!-- <p>sidebar works!</p>
<ul>
  <li><a routerLink="/admin">Dashboard</a></li>
  <li><a routerLink="customers">Customers</a></li>
  <li><a routerLink="products">Dashboard</a></li>
  <li><a routerLink="orders">Orders</a></li>
  <li><a routerLink="">Siteyi Gör</a></li>
</ul> -->

<mat-list role="list">
  <mat-list-item role="listitem"><a routerLink="/admin">Dashboard</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="customers">Customers</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="products">Products</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="orders">Orders</a></mat-list-item>
  <mat-list-item role="listitem"><a routerLink="">Siteyi Gör</a></mat-list-item>
</mat-list>
